<div class="row">

  <%= render "shared/menu" %>

  <div class="nine mobile-four columns">
    <div class="panel">
      <h1 style="text-align:center;">Tumblr</h1>

      <h3>Posts</h3>
      <% @feed.items.each do |f| %>
        <span class="secondary radius label"><%= f.pubDate.strftime("%B %e, %Y") %></span>
        <h4><a href="<%= f.link %>" target="_blank"><%= f.title %></a></h4>
        <p style="text-align:right;">
          <a href="http://<%= TUMBLR_USER_NAME %>.tumblr.com/tagged/<%= f.category %>" target="_blank"><span class="radius label"><%= f.category %></span></a>
        </p>
        <hr>
      <% end %>

      <h6><a href="http://<%= TUMBLR_USER_NAME %>.tumblr.com/" target="_blank"><%= YOUR_NAME %> @ Tumblr</a></h6>
    </div>
  </div>

</div>
