<div class="small-12 large-3 columns">
  <div class="radius panel">
    <p style="text-align:center;"><img src="<%= GRAVATAR_URL %>" alt="<%= YOUR_NAME %>"></p>
    <p><%= SITE_DESCRIPTION.html_safe %></p>

    <ul class="side-nav">
      <li <%= 'class="active"' if controller.controller_name == 'home' %>><%= link_to 'Home', root_path %></li>
      <% if ENABLE_CONTACT == true %>
        <li <%= 'class="active"' if controller.controller_name == 'contact' %>><a href="/contact">Contact</a></li>
      <% end %>
      <% if ENABLE_BLOG == true %>
        <li <%= 'class="active"' if controller.controller_name == 'blog' %>><a href="/blog">Blog</a></li>
      <% end %>
      <% if ENABLE_DELICIOUS == true %>
        <li <%= 'class="active"' if controller.controller_name == 'delicious' %>><a href="/delicious">Delicious</a></li>
      <% end %>
      <% if ENABLE_FOURSQUARE == true %>
        <li <%= 'class="active"' if controller.controller_name == 'foursquare' %>><a href="/foursquare">Foursquare</a></li>
      <% end %>
      <% if ENABLE_GITHUB == true %>
        <li <%= 'class="active"' if controller.controller_name == 'github' %>><a href="/github">GitHub</a></li>
      <% end %>
      <% if ENABLE_FLICKR == true %>
        <li <%= 'class="active"' if controller.controller_name == 'flickr' %>><a href="/flickr">Flickr</a></li>
      <% end %>
      <% if ENABLE_INSTAGRAM == true %>
        <li <%= 'class="active"' if controller.controller_name == 'instagram' %>><a href="/instagram">Instagram</a></li>
      <% end %>
      <% if ENABLE_LAST_FM == true %>
        <li <%= 'class="active"' if controller.controller_name == 'lastfm' %>><a href="/lastfm">LastFM</a></li>
      <% end %>
      <% if ENABLE_PROJECTS == true %>
        <li <%= 'class="active"' if controller.controller_name == 'projects' %>><a href="/projects">Projects</a></li>
      <% end %>
      <% if ENABLE_SOUNDCLOUD == true %>
        <li <%= 'class="active"' if controller.controller_name == 'soundcloud' %>><a href="/soundcloud">SoundCloud</a></li>
      <% end %>
      <% if ENABLE_TUMBLR == true %>
        <li <%= 'class="active"' if controller.controller_name == 'tumblr' %>><a href="/tumblr">Tumblr</a></li>
      <% end %>
      <% if ENABLE_TWITTER == true %>
        <li <%= 'class="active"' if controller.controller_name == 'twitter' %>><a href="/twitter">Twitter</a></li>
      <% end %>
      <% if ENABLE_UNTAPPD == true %>
        <li <%= 'class="active"' if controller.controller_name == 'untappd' %>><a href="/untappd">Untappd</a></li>
      <% end %>
    </ul>
  </div>
</div>
