<div class="row">
  <%= render 'shared/menu' %>

  <div class="small-12 large-9 columns">
    <div class="radius panel">
      <h1 style="text-align:center;">GitHub</h1>

      <% @github_repositories.each do |r| %>
        <% if r['private'] == false %>
          <a href="<%= r['html_url'] %>"><h4><%= r['name'] %></h4></a>
          <p>
            <% if r['fork'] == true %>
              <span class="radius secondary label">Fork</span>&nbsp;
            <% end %>

            <% if r['watchers_count'] > 0 %>
              <span class="radius label"><%= r['watchers_count'] %> watchers</span>&nbsp;
            <% end %>

            <% if r['forks_count'] > 0 %>
              <span class="radius label"><%= r['forks_count'] %> forks</span>&nbsp;
            <% end %>

            <% if r['open_issues'] > 0 %>
              <span class="radius alert label"><%= r['open_issues'] %> open issues</span>&nbsp;
            <% end %>

            <a href="<%= r['html_url'] %>" target="_blank"><span class="radius success label">See it on GitHub</span></a>&nbsp;

            <% if r['homepage'] %>
              <a href="<%= r['homepage'] %>" target="_blank"><span class="radius success label">Go to the Homepage</span></a>&nbsp;
            <% end %>
            <br />
            <%= r['description'] %>
          </p>
          <hr>
        <% end %>
      <% end %>

      <h6><a href="https://github.com/<%= GITHUB_USER_NAME %>" target="_blank"><%= YOUR_NAME %> @ GitHub</a></h6>
    </div>
  </div>
</div>
