<div class="row">
  <%= render 'shared/menu' %>

  <div class="small-12 large-9 columns">
    <div class="radius panel">
      <h1 style="text-align:center;">Foursquare</h1>

      <h3>Badges</h3>
      <div>
        <% @foursquare_badges.badges.each do |b| %>
          <% unless b[1].unlocks.empty? %>
            <div style="float:left;padding-right:10px;">
              <img src="<%= b[1].image.prefix %><%= b[1].image.sizes[1] %><%= b[1].image.name %>" border="0" title="<%= b[1].name %>" />
            </div>
            <div>
              <h6><%= b[1].name %></h6>
              <p><%= b[1].description %></p>
            </div>
            <hr>
          <% end %>
        <% end %>
      </div>

      <h3>Mayorships</h3>
      <% @foursquare_mayorships.items.each do |m| %>
        <p>
          <img src="<%= "#{m.venue.categories.first.icon.prefix}bg_88#{m.venue.categories.first.icon.suffix}" %>" border="0" title="<%= m.venue.name %>" />&nbsp;
          <%= m.venue.name %>
        </p>
      <% end %>

      <hr>

      <h3>Tips</h3>
      <% @foursquare_tips.items.each do |t| %>
        <div class="row" style="padding-bottom:22px;">
          <div class="small-2 columns">
            <img src="<%= "#{t.venue.categories.first.icon.prefix}bg_88#{t.venue.categories.first.icon.suffix}" %>" border="0" title="<%= t.venue.name %>" />
          </div>

          <div class="small-10 columns">
            <h6><%= t.venue.name %></h6>
            <%= t.text %>
          </div>
        </div>
      <% end %>

      <h6>
        <a href="https://foursquare.com/<%= FOURSQUARE_USER_NAME %>" target="_blank"><%= YOUR_NAME %> @ Foursquare</a>
      </h6>
    </div>
  </div>
</div>
