<div class="row">

  <%= render "shared/menu" %>

  <div class="nine mobile-four columns">
    <div class="panel">
      <h1 style="text-align:center;">Delicious</h1>

      <% @feed.entries.each do |f| %>
        <span class="secondary radius label"><%= f.pubDate.strftime("%B %e, %Y") %></span>
        <h4><a href="<%= f.link %>" target="_blank"><%= f.title.html_safe %></a></h4>
        <p style="text-align:right;">
          <a href="http://www.delicious.com/<%= DELICIOUS_USER_NAME %>/<%= f.category %>" target="_blank"><span class="radius label"><%= f.category %></span></a>
        </p>
        <hr>
      <% end %>

      <h6><a href="http://www.delicious.com/<%= DELICIOUS_USER_NAME %>" target="_blank"><%= YOUR_NAME %> @ Delicious</a></h6>
    </div>
  </div>

</div>
