<div class="row">
  <%= render 'shared/menu' %>

  <div class="small-12 large-9 columns">
    <div class="radius panel">
      <h1 style="text-align:center;">Instagram</h1>

      <h3>Recent Photos</h3>
      <p style="text-align:center;">
        <% @instagram_photos.each do |ig| %>
          <a href="<%= ig.images.standard_resolution.url %>" rel="lightbox" title="<%= ig.caption? ? "#{ig.caption.text}" : "" %>"><img src="<%= ig.images.thumbnail.url %>" border="0" title="<%= ig.caption? ? "#{ig.caption.text}" : "" %>" /></a>
        <% end %>
      </p>

      <h3>Recent Likes</h3>
      <p style="text-align:center;">
        <% @instagram_likes.each do |ig| %>
          <a href="<%= ig.images.standard_resolution.url %>" rel="lightbox" title="<%= ig.caption? ? "#{ig.caption.text}" : "" %>"><img src="<%= ig.images.thumbnail.url %>" border="0" title="<%= ig.caption? ? "#{ig.caption.text}" : "" %>" /></a>
        <% end %>
      </p>
    </div>
  </div>
</div>
