<div class="row">
  <%= render 'shared/menu' %>

  <div class="small-12 large-9 columns">
    <div class="radius panel">

      <h1 style="text-align:center;">Blog</h1>
      <% @feed.entries.each do |post| %>
        <span class="secondary radius label"><%= post.published.strftime("%B %e, %Y") %></span>
        <h4><a href="<%= post.url %>" target="_blank"><%= post.title %></a></h4>
        <hr>
      <% end %>

      <h6>
        <a href="<%= BLOG_URL %>" target="_blank"><%= YOUR_NAME %> @ The Blog</a>
        &nbsp;
        <a href="<%= BLOG_FEED_URL %>" target="_blank"><img src="/assets/rss.png" border="0" /></a>
      </h6>
    </div>
  </div>
</div>
